h1
{
    text-align: center;
    font-size: 5em;
    margin-top: 2em;
}

.buttonsContainer
{
    margin-top: 10em;
}

button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 1em;
    font-weight: bold;
    font-size: 1.5em;

    width: 12em;
}